<div>
  <section *ngIf="!editMode">
    <ion-grid>
      <ion-row>
        <ion-col size="12" sizeMd="6" offsetMd="3" offset="0">
          <ion-list lines="inset">
            <ion-item>
              <ion-thumbnail style="width: 100px; height: auto" slot="end">
                <ion-img [src]="book.imageUrl"></ion-img>
              </ion-thumbnail>
              <ion-label style="direction: rtl">
                <h2>{{ book.name }}</h2>
                <p>موجودی : {{ book.inventory }}</p>
                <p>قیمت : {{ book.price }}</p>
                <ion-button (click)="expandCollaps()" color="primary">
                  ویرایش
                </ion-button>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
  <section *ngIf="editMode">
    <form [formGroup]="bookForm" (ngSubmit)="onSave()">
      <ion-grid fixed>
        <ion-row>
          <!-- inputs -->
          <ion-col size="12" sizeMd="9" offset="0">
            <!-- name -->
            <ion-item>
              <ion-label position="fixed" slot="end"> : نام کتاب </ion-label>
              <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <!-- price -->
            <ion-item>
              <ion-label position="fixed" slot="end"> : قیمت کتاب </ion-label>
              <ion-input type="number" formControlName="price"></ion-input>
            </ion-item>
            <!-- inventory -->
            <ion-item>
              <ion-label position="fixed" slot="end"> : موجودی کتاب </ion-label>
              <ion-input type="number" formControlName="inventory"></ion-input>
            </ion-item>
            <!-- isbn -->
            <ion-item>
              <ion-label position="fixed" slot="end"> : شابک کتاب </ion-label>
              <ion-input type="text" formControlName="isbn"></ion-input>
            </ion-item>
            <!-- author -->
            <ion-item>
              <ion-label position="fixed" slot="end"> : نویسنده کتاب </ion-label>
              <ion-input type="text" formControlName="author"></ion-input>
            </ion-item>
            <!-- translator -->
            <ion-item>
              <ion-label position="fixed" slot="end"> : مترجم کتاب </ion-label>
              <ion-input type="text" formControlName="translator"></ion-input>
            </ion-item>
            <!-- publisher -->
            <ion-item>
              <ion-label position="fixed" slot="end"> : ناشر </ion-label>
              <ion-input type="text" formControlName="publisher"></ion-input>
            </ion-item>
            <!-- pubYear -->
            <ion-item>
              <ion-label position="fixed" slot="end"> : سال انتشار </ion-label>
              <ion-input type="text" formControlName="pubYear"></ion-input>
            </ion-item>
            <!-- imageUrl -->
            <ion-item>
              <ion-label position="fixed" slot="end"> : عکس </ion-label>
              <ion-input  (change)="handleFileInput($event)" type="file" formControlName="imageUrl"></ion-input>
            </ion-item>
            <!-- gist -->
            <ion-item>
              <ion-label position="fixed" slot="end"> : خلاصه کتاب </ion-label>
              <ion-textarea
                rows="6"
                formControlName="gist"
                style="direction: rtl"
              >
              </ion-textarea>
            </ion-item>
          </ion-col>
          <!-- img -->
          <ion-col size="4" sizeMd="3">
            <ion-thumbnail style="width: 100%; height: auto">
              <ion-img [src]="bookObj?.imageUrl"></ion-img>
            </ion-thumbnail>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button (click)="expandCollaps()" color="warning" type="button">
              بستن کارت
            </ion-button>
            <ion-button (click)="onDeleteBook()" color="danger" type="button"> حذف </ion-button>
            <ion-button color="success" type="submit">
              ذخیره تغییرات
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </section>
</div>
