#container {
  width: 100%;
  height: auto;
  padding: 15px 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 1500px) {
    height: auto;
  }
}

#parrent {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.modal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: normal;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  color: #333;
  font-family: sans-serif;
  line-height: 1.5;
  max-width: 50%;
  padding: 1rem 2rem;
  a {
    color: #bf0222;
  }
  add-to-card {
    display: inline-block;
    width: 50%;
  }

  @media (max-width: 800px) {
    max-width: 86%;
    padding: 1rem 0.5rem;
    add-to-card {
      width: 90%;
    }
  }
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .modal {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
  }
  #container {
    backdrop-filter: blur(10px);
  }
}

ion-list {
  direction: rtl;
  margin: 0;
}
ion-list-header {
  --background: transparent;
}

.rainbow-box {
  border: 5px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
}
