<ion-app>
  <!-- Menu 1  -->
  <ion-menu side="end" menuId="home" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item [routerLink]="['/publisher']" lines="none">
            <ion-icon name="book" mode="md"></ion-icon>
            <ion-label>Publisher</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item [routerLink]="['//products-buy']" lines="none">
            <ion-icon name="card"></ion-icon>
            <ion-label>Products-buy</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item [routerLink]="['/publisher']" lines="none">
            <ion-icon name="person-circle"></ion-icon>
            <ion-label>Admin Area</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
