<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons fxHide.lt-md slot="end">
      <ion-menu-button menu="home"></ion-menu-button>
    </ion-buttons> -->
    <ion-title>publisher</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="books" #pubSegment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="books">
      <ion-label>کتاب ها</ion-label>
    </ion-segment-button>
    <ion-segment-button value="add-books">
      <ion-label>اضافه کردن کتاب</ion-label>
    </ion-segment-button>
    <ion-segment-button value="orders">
      <ion-label>سفارش ها </ion-label>
    </ion-segment-button>
    <!-- <ion-segment-button value="about-pub">
      <ion-label>درباره نشر </ion-label>
    </ion-segment-button> -->
  </ion-segment>
  <section *ngIf="userInfo.activatedStatus">
    <section *ngIf="pageStatus==='books'">
      <app-edit-book
        *ngFor="let book of books;let i=index"
        [book]="book"
        [bookId]="i"
      >
      </app-edit-book>
    </section>
    <section *ngIf="pageStatus==='add-books'">
      <app-add-book></app-add-book>
    </section>
    <section *ngIf="pageStatus==='about-pub'">
      <p>about pub</p>
    </section>
    <section *ngIf="pageStatus==='orders'">
      <ion-list>
        <section *ngFor="let order of orders">
          <section *ngIf="order.status==='PAIED'">
            <app-orders [order]="order"></app-orders>
          </section>
        </section>
      </ion-list>
    </section>
  </section>
  <section *ngIf="userInfo.status" style="direction: rtl">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <h2>
            ناشر گرامی شما برای دسترسی به صفحه ی خود نیاز به تایید مدیریت ساید
            دارید .
          </h2>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>
