<ion-header>
  <ion-toolbar>
    <ion-title slot="end">{{ (userInfo|async).name}} 🖨️</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment value="books" #pubSegment (ionChange)="segmentChanged($event)">
    <ion-segment-button value="books">
      <ion-label>کتاب ها</ion-label>
    </ion-segment-button>
    <ion-segment-button value="add-books">
      <ion-label>اضافه کردن کتاب</ion-label>
    </ion-segment-button>
    <ion-segment-button value="orders">
      <ion-label>سفارش ها </ion-label>
    </ion-segment-button>
  </ion-segment>
  <section *ngIf=" (userInfo|async).activatedStatus">
    <section *ngIf="pageStatus==='books'">
      <app-edit-book *ngFor="let book of books;let i=index" [book]="book">
      </app-edit-book>
    </section>
    <section *ngIf="pageStatus==='add-books'">
      <app-add-book></app-add-book>
    </section>
    <section *ngIf="pageStatus==='about-pub'">
      <p>about pub</p>
    </section>
    <section *ngIf="pageStatus==='orders'">
      <ion-list>
        <section *ngFor="let order of orders">
          <section *ngIf="order.status==='PAIED'">
            <app-orders [order]="order"></app-orders>
          </section>
        </section>
      </ion-list>
    </section>
  </section>
  <section *ngIf="! (userInfo|async).activatedStatus" style="direction: rtl">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <h2>
            ناشر گرامی شما برای دسترسی به صفحه ی خود نیاز به تایید مدیریت سایت
            دارید .
          </h2>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>
