<ion-header>
  <ion-toolbar>
    <ion-buttons fxHide.lt-md slot="end">
      <ion-menu-button menu="home"></ion-menu-button>
    </ion-buttons>
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment (ionChange)="segmentChanged($event)" value="offers">
    <ion-segment-button value="pubs">
      <ion-label>ناشران</ion-label>
    </ion-segment-button>
    <ion-segment-button value="offers">
      <ion-label>پیشنهاد ویژه </ion-label>
    </ion-segment-button>
    <ion-segment-button value="sale-report">
      <ion-label>گزارش فروش</ion-label>
    </ion-segment-button>
  </ion-segment>

  <section *ngIf="pageState==='pubs'">
    <ion-list slot="end">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12" sizeMd="8" offsetMd="2" offset="0">
            <div *ngFor="let publisher of publishers">
              <app-publisher-card [publisher]="publisher"> </app-publisher-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </section>
  <section *ngIf="pageState==='offers'">
    <app-offers></app-offers>
  </section>
  <section *ngIf="pageState==='sale-report'">
    <section>
      <app-all-order-history
      *ngFor="let order of orders"
      [order]="order"
      ></app-all-order-history>
    </section>
    
  </section>
</ion-content>
