<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title slot="end">محصولات 🏬</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <section id="slides">
      <ion-spinner *ngIf="!packagesObs" name="circles"></ion-spinner>
      <ion-slides mode="ios" pager="ios" [options]="slideOpts">
        <ion-slide *ngFor="let package of packagesObs|async;let i =index">
          <app-package-card [package]="package"></app-package-card>
        </ion-slide>
      </ion-slides>
    </section>
    <section class="book-container ion-justify-content-center">
      <ion-spinner *ngIf="!books" name="circles"></ion-spinner>
      <app-book-card
        *ngFor="let book of books | paginate: { itemsPerPage: 24, currentPage: paginationP }"
        [book]="book"
      ></app-book-card>
    </section>
    <section style="display: flex; justify-content: center">
      <pagination-controls
        (pageChange)="paginationP = $event"
        previousLabel=" "
        nextLabel=" "
        [autoHide]="true"
        [responsive]="true"
      >
      </pagination-controls>
    </section>
  </div>
</ion-content>
