<ion-header>
  <ion-toolbar>
    <ion-title>products-buy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section id="slides">
    <ion-slides mode="ios" pager="ios" [options]="slideOpts">
      <ion-slide *ngFor="let package of packages;let i =index">
        <app-package-card [package]="package"></app-package-card>
      </ion-slide>
    </ion-slides>
  </section>
  <section class="book-container ion-justify-content-center">
    <app-book-card
      *ngFor="let book of books | paginate: { itemsPerPage: 24, currentPage: paginationP }"
      [book]="book"
    ></app-book-card>
  </section>
  <section style="display: flex; justify-content: center">
    <pagination-controls
      (pageChange)="paginationP = $event"
      previousLabel=" "
      nextLabel=" "
      [autoHide]="true"
      [responsive]="true"
    >
    </pagination-controls>
  </section>
</ion-content>
