<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="products-buy"></ion-back-button>
    </ion-buttons>
    <section *ngIf="pageSpinner">
      <ion-spinner name="dots"></ion-spinner>
    </section>
    <ion-title slot="end" *ngIf="!pageSpinner"> {{  thePackage.name }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section *ngIf="pageSpinner">
    <ion-spinner name="dots"></ion-spinner>
  </section>
  <section *ngIf="!pageSpinner">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" style="direction: rtl">
          <h2>
            {{ thePackage.name }}
          </h2>
          <p>
            {{ thePackage.description }}
          </p>
          <ion-button (click)="addPackToCard()" fill="outline" color="success">
            اضافه کردن همه محصولات به سبد خرید
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col
          size="12"
          style="display: flex; justify-content: center; flex-wrap: wrap"
        >
          <app-book-card *ngFor="let book of booksInPack" [book]="book">
          </app-book-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>
