<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-buttons fxHide.lt-md slot="end">
      <ion-menu-button menu="home"></ion-menu-button>
    </ion-buttons> -->
    <ion-title slot="end">کتاب فروشی 🏪</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-tabs>
    <ion-tab-bar slot="buttom">
      <ion-tab-button *ngIf="!user?.status " [routerLink]="['/login']">
        <ion-icon name="map"></ion-icon>
        <ion-label>ورود</ion-label>
      </ion-tab-button>

      <ion-tab-button
        *ngIf="user?.status ==='CUSTOMER'"
        [routerLink]="['/customer']"
      >
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>پنل کاربری</ion-label>
      </ion-tab-button>
      <ion-tab-button *ngIf="user?.status ==='ADMIN'" [routerLink]="['/admin']">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>پنل ادمین</ion-label>
      </ion-tab-button>
      <ion-tab-button
        *ngIf="user?.status ==='PUBLISHER'"
        [routerLink]="['/publisher']"
      >
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>پنل ناشر</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/products-buy']">
        <ion-icon name="map"></ion-icon>
        <ion-label>محصولات</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/shopping-card']">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>سبد خرید</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->
</ion-content>
