<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="end">کتاب فروشی 🏪</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="slises-class">
    <ion-slides pager="true">
      <ion-slide>
        <section>
          <img src="../../assets/imgs/angular.png" alt="" />
        </section>
        <div>
          <h2>سلام</h2>
          <p>
            این فروشگاه یک نمونه کار پروژه انگولار و آیونیک ، نوشته شده توسط
            مسعود مهاجری است
            <br />
            لطفا ورق بزنید 👉
          </p>
          <small>تحریم شکنتون هم روشن باشه لطفا </small>
        </div>
      </ion-slide>

      <ion-slide>
        <section>
          <img src="../../assets/imgs/shop.png" alt="" />
        </section>
        <div>
          <h2>حالا چه امکاناتی داره ؟</h2>
          <p>
            اول ناشر ها ثبت نام میکنن و بعد از تایید ادمین میتونن کتاب هاشون رو
            ثبت کنن برای فروش . اگر مشکلی هم بود میتونن مشخصات کتاب ها رو ادیت
            کنن و همچنین در پنل ناشر سفارش های اون نشار نشون داده میشه تا ناشر
            اونا رو بفرسته و کد پیگیری پست رو ثبت کنه تا مشتری بتونه از .وضعیت
            مرسوله اش با خبر باشه
          </p>
        </div>
      </ion-slide>

      <ion-slide>
        <section>
          <img src="../../assets/imgs/books.png" alt="" />
        </section>
        <div>
          <h2>مشتری</h2>
          <p>
            مشتری هم میتونه از بین کتاب ها یی که ناشر ها ثبت کردن و یا مجموعه
            هایی که ادمین ثبت کرده خرید کنه و وضعیت خرید هاش رو توی پنلش ببینه
          </p>
        </div>
      </ion-slide>

      <ion-slide>
        <section>
          <img src="../../assets/imgs/admin.png" alt="" />
        </section>
        <div>
          <h2>ادمین</h2>
          <p>
            ادمین هم به همه ی فعالیت های سایت نظارت داره و وضعیت همه ی سفارش ها
            رو میبینه در ضمن میتونه پکیج هایی از کتاب های مرتبت درست کنه که
            مشتری راحت تر به کتاب ها ، فارغ از این که ناشرشون کیه دسترسی پیدا
            کنه
          </p>
        </div>
      </ion-slide>
      <ion-slide>
        <section>
          <img src="../../assets/imgs/snap.png" alt="" />
        </section>
        <div>
          <h2>امتحانش کن !</h2>
          <p>
            ثبت نام کنید و سایت رو امتحان کنید ! خوشحال میشم نظرتونو در باره
            سایت بدونم
          </p>
          <p>میتونید از اکانت های زیر هم استفاده کنید</p>
          <table>
            <tr>
              <td>chpub@gmail.com</td>
              <td>: نشر چشمه</td>
            </tr>
            <tr>
              <td>admin@gmail.com</td>
              <td>: ادمین</td>
            </tr>
            <tr>
              <td>customer@gmail.com</td>
              <td>: مشتری</td>
            </tr>
            <tr>
              <td>123123</td>
              <td>: رمز عبور</td>
            </tr>
          </table>
        </div>
      </ion-slide>
      <ion-slide>
        <section>
          <img src="../../assets/imgs/github.png" alt="" />
        </section>
        <div>
          <h2>خوشحال میشم به گیت هابم سر بزنید</h2>
          <ion-button color="dark" (click)="goToGit()"> GitHub </ion-button>
        </div>
      </ion-slide>
    </ion-slides>
  </section>
</ion-content>
