.slises-class {
  display: flex;
  justify-content: center;
  padding-top: 0;
}
ion-slide {
  display: inline;
  width: 310px;
  height: auto;
  margin: auto;
  text-align: center;
  section {
    width: 600px;
    margin: auto;
    padding: 25px;
    padding-top: 0;
    @media (max-width: 800px) {
      width: 350px;
    }
  }
  div {
    width: 600px;
    margin: auto;
    padding: 25px;
    @media (max-width: 800px) {
      width: 350px;
    }
  }
  img {
    margin: auto;
    width: 280px;
    margin: auto;
    height: auto;
  }
}
