<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>customer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <form [formGroup]="addressForm" (ngSubmit)="saveNewAddress()">
          <ion-item style="direction: rtl">
            <ion-label position="fixed"> آدرس جدید : </ion-label>
            <ion-textarea formControlName="address" row="4"></ion-textarea>
          </ion-item>
          <ion-button type="submit" fill="solid" shape="success">
            ذخیره آدرس جدید
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <app-order-history
          *ngFor="let order of orders"
          [order]="order"
        ></app-order-history>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
