<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title slot="end">مشتری 👨‍🚀</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row style="direction: rtl">
      <h2>تغییر آدرس 🏠</h2>
      <ion-col size="12">
        <form [formGroup]="addressForm" (ngSubmit)="saveNewAddress()">
          <ion-item style="direction: rtl">
            <ion-label position="fixed"> آدرس جدید : </ion-label>
            <ion-textarea formControlName="address" row="4"></ion-textarea>
          </ion-item>
          <ion-button type="submit" fill="solid" shape="success">
            ذخیره آدرس جدید
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
    <ion-row style="direction: rtl">
      <h2>پیگیری سفارش ها 📦</h2>
      <ion-col size="12">
        <ion-spinner *ngIf="needSpinner" name="dots"></ion-spinner>
        <section *ngIf="!needSpinner">
          <app-order-history
            *ngFor="let order of orders"
            [order]="order"
          ></app-order-history>
        </section>

        <section *ngIf="orders.length==0">
          <h4>شما هیج سفارشی نداشته اید.</h4>
        </section>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
